:root {
    --first-color: #d4d4d4;
    --bg-first: #fff;
    --bg-secondary: #7ED4F1;
    --bg-third: #C3E4FF;
}

#spinnerContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

/* Estilos para o spinner animado */
.spinner-custom {
    width: 80px;
    height: 80px;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animação de rotação */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
/* Estilos para a tela de bloqueio */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7ED4F1; /* Semi-transparente para bloquear a interação */
    z-index: 10; /* Abaixo do spinner */
}
