<link rel="stylesheet" href="/static/css/dashboard.css">


<div class="window">

    <div id="bg-black"></div>

    <div class="dashboard">

        <div class="p-2 d-flex align-items-center aside-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="picture rounded-circle"></div>
                <div class="fs-4"><strong>CPPPN</strong></div>
            </div>
        </div>

        <nav class="nav-menu">
            <ul class="ul-nav">

                <li class="li-li-nav active" show="home">
                    <i class="bi bi-house i-menu icone-style"></i>
                    <span>Início</span>
                </li>
            
                <li class="li-nav">
                    <div class="li-nav-header">
                        <div>
                            <i class="bi bi-people icone-style"></i>
                            Associados
                        </div>
                        <i class="bi bi-chevron-left left-icon"></i>
                    </div>
                    <ul class="ul-ul-nav">
                        <li class="li-li-nav" show="associates">
                            <i class="bi bi-card-list icone-style"></i>
                            Ver Associados
                        </li>
                    </ul>
                </li>
            
                <li class="li-nav">
                    <div class="li-nav-header">
                        <div>
                            <i class="bi bi-gear icone-style"></i>
                            Gestão
                        </div>
                        <i class="bi bi-chevron-left left-icon"></i>
                    </div>
                    <ul class="ul-ul-nav">
                        <li class="li-li-nav" show="reports">
                            <i class="bi bi-file-earmark-bar-graph icone-style"></i>
                            Relatórios 
                        </li>
                        <li class="li-li-nav" show="investments">
                            <i class="bi bi-cash icone-style"></i>
                            Investimentos
                        </li>
                        <li class="li-li-nav" show="benefits">
                            <i class="bi bi-gift icone-style"></i>
                            Benefícios
                        </li>
                        <li class="li-li-nav" show="feedback">
                            <i class="bi bi-chat-left-dots icone-style"></i>
                            Feedback
                        </li>
                        <li class="li-li-nav" show="careers">
                            <i class="bi bi-briefcase icone-style"></i>
                            Carreiras
                        </li>
                        <li class="li-li-nav" show="payroll">
                            <i class="bi bi-file-spreadsheet icone-style"></i>
                            Folha de Pagamento
                        </li>
                        <li class="li-li-nav" show="risks">
                            <i class="bi bi-shield icone-style"></i>
                            Riscos e Compliance
                        </li>
                        <li class="li-li-nav" show="portfolio">
                            <i class="bi bi-pie-chart icone-style"></i>
                            Portfólio de Investimentos
                        </li>
                        <li class="li-li-nav" show="systems">
                            <i class="bi bi-laptop icone-style"></i>
                            Sistemas
                        </li>
                        <li class="li-li-nav" show="kpis">
                            <i class="bi bi-graph-up-arrow icone-style"></i>
                            Metas e KPIs
                        </li>
                        <li class="li-li-nav" show="projects">
                            <i class="bi bi-kanban icone-style"></i>
                            Projetos
                        </li>
                        <li class="li-li-nav" show="communication">
                            <i class="bi bi-chat icone-style"></i>
                            Comunicação Interna e Externa
                        </li>
                        <li class="li-li-nav" show="events">
                            <i class="bi bi-calendar-event icone-style"></i>
                            Eventos
                        </li>
                        <li class="li-li-nav" show="contracts">
                            <i class="bi bi-file-earmark-text icone-style"></i>
                            Contratos
                        </li>
                        <li class="li-li-nav" show="training">
                            <i class="bi bi-journal-bookmark icone-style"></i>
                            Treinamentos Internos
                        </li>
                        <li class="li-li-nav" show="certifications">
                            <i class="bi bi-award icone-style"></i>
                            Certificações
                        </li>
                    </ul>
                </li>
            
                <li class="li-li-nav" show="beneficiary-support">
                    <i class="bi bi-person-heart i-menu icone-style"></i>
                    <span>Suporte ao Beneficiário</span>
                </li>
            
                <li class="li-nav">
                    <div class="li-nav-header">
                        <div>
                            <i class="bi bi-gear-wide-connected icone-style"></i>
                            Sistema
                        </div>
                        <i class="bi bi-chevron-left left-icon"></i>
                    </div>
                    <ul class="ul-ul-nav">
                        <li class="li-li-nav" show="audits">
                            <i class="bi bi-clipboard-data icone-style"></i>
                            Auditoria
                        </li>
                        <li class="li-li-nav" show="notifications">
                            <i class="bi bi-bell icone-style"></i>
                            Notificações
                        </li>
                    </ul>
                </li>
            
                <li class="li-li-nav" show="tech-support">
                    <i class="bi bi-headset i-menu icone-style"></i>
                    <span>Suporte Técnico</span>
                </li>
            
                <li class="li-li-nav" show="legal-consulting">
                    <i class="bi bi-file-earmark-person i-menu icone-style"></i>
                    <span>Consultoria Jurídica</span>
                </li>
            
                <li class="li-li-nav" show="risk-identification">
                    <i class="bi bi-exclamation-triangle i-menu icone-style"></i>
                    <span>Identificação de Riscos</span>
                </li>
            
                <li class="li-li-nav" show="risk-monitoring">
                    <i class="bi bi-bar-chart-line i-menu icone-style"></i>
                    <span>Monitoramento de Riscos</span>
                </li>
            
                <li class="li-li-nav" show="capacity-evaluation">
                    <i class="bi bi-person-check i-menu icone-style"></i>
                    <span>Avaliação de Capacitação</span>
                </li>
            
            </ul>
            
        </nav>        

    </div>
    

    <div class="chat-header-container">

        <div class="chat-header">
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-menu d-flex justify-content-center align-items-center">
                    <span class="d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-list"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                        </svg>
                    </span>
                </button>
                <span class="link"> / Início</span>
            </div>

        </div>

        <div class="chat-container">

            <div class="show-content">


            </div>

            <div class="footer">
                <strong>Copywrite &copy; 2024</strong>
                <strong>Version 1.0.0</strong>
            </div>


            <div aria-live="polite" aria-atomic="true" class="container chat-toast">
                <div class="toast-container position-absolute pt-1 px-3 pb-3 top-0 end-0" id="toastPlacement"
                    data-original-class="toast-container position-absolute p-3">
                    <div class="toast" id="notification-toast" data-bs-autohide="false">

                        <div class="toast-header">

                            <strong class="me-auto">
                                <h5>Nova conversa</h1>
                            </strong>

                        </div>

                        <div class="toast-body">
                            <ul class="users-list dropdown-menu d-block position-static mx-0 border-0 shadow w-220px">

                                <li>
                                    <div>
                                        <div class="bd-example-snippet bd-code-snippet">
                                            <div class="bd-example d-flex justify-content-center mb-2">

                                                <div class="spinner-border text-dark" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<script src="/static/js/dashboard.js"></script>