<link rel="stylesheet" href="/static/css/list.css">
<link rel="stylesheet" href="/static/css/search.css">

<div class="main">
    <div>

        <div class="button-create d-flex align-items-center justify-content-between align-items-end">

            <div class="ms-3 d-flex align-items-center w-auto">

                <div class="btn-back rounded-circle me-2" id="btn-refresh" title="Atualizar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-funnel d-flex" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
                        <path
                            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
                    </svg>
                </div>

            </div>

            <div class="d-flex px-1">
                <div class="search">
                    <div class="container">
                        <div class="search-container">
                            <input type="search" class="form-control search-bar" id="searchInput"
                                placeholder="Search...">
                            <div id="searchButton">
                                <div class="search-btn btn-back rounded-circle" title="Pesquisar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-funnel d-flex" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="button-new" type="button" class="btn btn-secondary text-white rounded-4 me-3"
                    title="Novo transporte">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                    </svg>

                    <span>Novo</span>

                </button>

            </div>


        </div>

        <div class="parent-div list-group">
            <div class="container-fluid"><div class="row"><div class="view_item col new d-flex align-items-center overflow-hidden m-0 rounded-4 animated-background"><div class="icon mr-3"><div class="circle mx-auto rounded-circle"></div></div><div class="info"><div><div><div class="cell"></div></div><div class="block"><div class="cell"></div></div></div></div></div></div></div>
            <div class="container-fluid"><div class="row"><div class="view_item col new d-flex align-items-center overflow-hidden m-0 rounded-4 animated-background"><div class="icon mr-3"><div class="circle mx-auto rounded-circle"></div></div><div class="info"><div><div><div class="cell"></div></div><div class="block"><div class="cell"></div></div></div></div></div></div></div>
            <div class="container-fluid"><div class="row"><div class="view_item col new d-flex align-items-center overflow-hidden m-0 rounded-4 animated-background"><div class="icon mr-3"><div class="circle mx-auto rounded-circle"></div></div><div class="info"><div><div><div class="cell"></div></div><div class="block"><div class="cell"></div></div></div></div></div></div></div>
            <div class="container-fluid"><div class="row"><div class="view_item col new d-flex align-items-center overflow-hidden m-0 rounded-4 animated-background"><div class="icon mr-3"><div class="circle mx-auto rounded-circle"></div></div><div class="info"><div><div><div class="cell"></div></div><div class="block"><div class="cell"></div></div></div></div></div></div></div>
            <div class="container-fluid"><div class="row"><div class="view_item col new d-flex align-items-center overflow-hidden m-0 rounded-4 animated-background"><div class="icon mr-3"><div class="circle mx-auto rounded-circle"></div></div><div class="info"><div><div><div class="cell"></div></div><div class="block"><div class="cell"></div></div></div></div></div></div></div>
            <div class="container-fluid"><div class="row"><div class="view_item col new d-flex align-items-center overflow-hidden m-0 rounded-4 animated-background"><div class="icon mr-3"><div class="circle mx-auto rounded-circle"></div></div><div class="info"><div><div><div class="cell"></div></div><div class="block"><div class="cell"></div></div></div></div></div></div></div>
            <div class="container-fluid"><div class="row"><div class="view_item col new d-flex align-items-center overflow-hidden m-0 rounded-4 animated-background"><div class="icon mr-3"><div class="circle mx-auto rounded-circle"></div></div><div class="info"><div><div><div class="cell"></div></div><div class="block"><div class="cell"></div></div></div></div></div></div></div>
            <div class="container-fluid"><div class="row"><div class="view_item col new d-flex align-items-center overflow-hidden m-0 rounded-4 animated-background"><div class="icon mr-3"><div class="circle mx-auto rounded-circle"></div></div><div class="info"><div><div><div class="cell"></div></div><div class="block"><div class="cell"></div></div></div></div></div></div></div>
            <div class="container-fluid"><div class="row"><div class="view_item col new d-flex align-items-center overflow-hidden m-0 rounded-4 animated-background"><div class="icon mr-3"><div class="circle mx-auto rounded-circle"></div></div><div class="info"><div><div><div class="cell"></div></div><div class="block"><div class="cell"></div></div></div></div></div></div></div>
            <div class="container-fluid"><div class="row"><div class="view_item col new d-flex align-items-center overflow-hidden m-0 rounded-4 animated-background"><div class="icon mr-3"><div class="circle mx-auto rounded-circle"></div></div><div class="info"><div><div><div class="cell"></div></div><div class="block"><div class="cell"></div></div></div></div></div></div></div>
        </div>

    </div>
</div>


<div class="this-modals">

    <div class="modal fade ModalGroup" aria-hidden="true" tabindex="-1"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-0">
                    <form id="formSaveUser">
                        <fieldset class="formSaveFieldset">
                            <div class="p-3">

                                <div class="form-group mb-3">
                                    <label for="inputLabel">Mostrar como</label>
                                    <input type="text" class="form-control" name="inputLabel" id="inputLabel"
                                        placeholder="Como mostrar o nome do grupo" required>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="inputName">Nome</label>
                                    <input type="text" class="form-control" name="inputName" id="inputName"
                                        placeholder="Nome completo" required>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="inputDescription">Descrição</label>
                                    <input type="text" class="form-control" name="inputDescription" id="inputDescription"
                                        placeholder="Descrição da permissão" required>
                                </div>

                            </div>
                        </fieldset>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                                id="btnUserCancel">Cancelar</button>

                            <button type="submit" id="btnSave" class="btn btn-primary save">Salvar</button>

                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="/static/js/groups.js"></script>
<script src="/static/js/search.js"></script>