<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPPPN</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="/static/bs/bootstrap-5.2.3.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/css/skeleton.css">

</head>

<body>


    <div class="" id="spinnerContainer">
        <div class="spinner-custom"></div>
    </div>
    <div class="" id="overlay"></div>

    <div class="body-content">
    </div>


    <div class="modal fade" id="ModalMessage" aria-hidden="true" aria-labelledby="ModalMessageLabelTitle" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">

                    <div class="btn-back rounded-circle" id="ModalMessageButtonBackTop" data-bs-dismiss="modal"
                        data-bs-toggle="modal" data-bs-target="#ModalStatus">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                        </svg>
                    </div>

                    <div id="ModalMessageLabelTitle" class="container d-flex align-items-center justify-content-center">
                        <h5 class="modal-title">Title</h5>
                    </div>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>

                <div class="modal-body" id="ModalMessageLabelInfo">
                    Message
                </div>

                <div class="modal-footer">

                    <button class="btn btn-secondary" id="ModalMessageButtonBack" data-bs-target="#ModalRegister"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Editar</button>

                    <button class="btn btn-primary d-none" id="ModalMessageButtonOk" data-bs-dismiss="modal">OK</button>

                </div>

            </div>
        </div>
    </div>

    <div class="modals">
        
    </div>

    <!-- jquery -->
    <script src="/static/jquery/jquery-3.5.1.min.js"></script>

    <!-- bootstrap js -->
    <script src="/static/bs/bootstrap.bundle.min.js"></script>

    <!-- My js -->
    <script src="/static/js/script.js"></script>
    <script src="/static/js/index.js"></script>

</body>

</html>